html {
  position: relative;
  min-height: 100%;
}


body {
  padding-top: 70px;
  /* cf. Footer! Margin bottom by footer height */
  margin-bottom: 250px;
}


.basebox {
    padding: 15px 0px;
    min-height: 100px;
    margin-bottom: 10px;
    border-radius: 3px;
}


.sidebox {
    padding: 15px;
    min-height: 100px;
    margin-bottom: 10px;
}

td.tstp-sid-cell {
    font-family: monospace;
}
td.tstp-theme-cell {
}
td.tstp-date-cell {
    font-family: monospace;
    font-size: 12px;
}

td.tstp-description-cell {
	font-weight: normal;
	font-family: Arial;
  word-wrap: break-word;
}


.captcha-wrapper {
  min-width: 300px;
  padding: 50px;
  background: #ffffff;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* cf. Body! Set the fixed height of the footer here */
  height: 200px;
  background-color: #ffffff; /*#f5f5f5;*/
}


.container .text-muted {
  margin: 20px 0;
  padding-left: 0px;
}


.row_pending {
  background-color: #ddee88;
}


.row_revert {
  background-color: #eeaa99;
}



@media screen and (max-width: 991px){
    .flexible{
        min-height: 150px;
    }
}



/* No scrolling for collapsed menu */
.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}

.locallink {
  color: #black;
}

td.lightcell {
  font-family: Arial;
}

.icon-bar {
   background-color:#222222 !important;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.75);;
    border-color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffffff;
}

/* typeahead */

.typeahead,
.tt-query,
.tt-hint {
  width: 430px;
  height: 35px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);

  max-height: 150px;
overflow-y: auto;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.shrink-to-fit {
  white-space: nowrap; 
  width: 1%;
}

.borderless td, .borderless th, .borderless tr {
    border: none !important;
}

.vcenter > tbody > tr > td {
     vertical-align: middle;
}

.space-large {
  margin-top: 2em;
  margin-bottom: 1em;
}

.dl-horizontal dt, .dl-horizontal dd { 
  text-align: left;
  margin-left: 0px;
  margin-right: 10px;
  width: auto;
}


.obj-description {
  font-weight: normal;
  font-family: Arial;
}


table.dataTable {
  margin: 0px 0px 10px 0px;
}


span.label-theme {
  opacity: 0.5;
  background: #ffccee;
  color: #774466;
}

span.label-story {
  opacity: 0.5;
  background: #6677aa;
  color: #ddeeff;
}

input.search-theme {
  background: #fff2e0;
  color: #6f6660;
}

input.search-story {
  background: #fff2e0;
  color: #6f6660;
}

.hpad0 {
  padding-left: 0px;
  padding-right: 0px;
}

