{% extends "ontologyexplorer/totolo_base.html" %}

{% block page_subtitle %}org{% endblock %}

{% block page_body %}
<P>
    Contains <b class="totolo-frontstat">{{num_themes}}</b> well defined literary themes arranged in a hierarchy. 
    The hierarchy is a taxonomy with extra features, i.e., an ontology. 
    Each theme is defined with an average of <b class="totolo-frontstat">{{avg_words_theme_description}}</b> words.
    The definitions lay out necessary and sufficient conditions for when a theme is considered topical.
</P>

<P>
    There are <b class="totolo-frontstat">{{num_stories}}</b> annotated stories, normally defined with a reference to Wikipedia. 
    Each story has been associated with an average of <b class="totolo-frontstat">{{avg_motivations_per_story}}</b> themes.
    Each theme designation has been weighted according to it's importance to the story as "minor", "major", or "choice", and provided with a pithy motivation.
    The average motivation is <b class="totolo-frontstat">{{avg_words_motivation}}</b> words long,
    though this hides a large variation.
</P>

{% endblock %}
