{% extends "ontologyexplorer/totolo_base.html" %}

{% block page_subtitle %}data{% endblock %}

{% load static %}
{% block page_body %}
    <H1>View Logs</H1>

    <P>
    <UL class="list-group list-group-horizontal">
        {% for logchoice in choices %}<LI class="list-group-item"><A href="/logs/{{logchoice}}">{{logchoice}}</A></LI>{% endfor %}
    </UL>
    </P>

    <H2><span class="totolo-titleword">Log:</span> {{logname}}</H2>
    <P>Last updated: {{logmodified}}</P>
    <pre><code>{{logcontent}}</code></pre>

{% endblock %}
