{% extends "ontologyexplorer/totolo_base.html" %}

{% block page_subtitle %}{{storyobj.sid}}{% endblock %}

{% block page_scripts %}
    <script>
        $(document).ready(function () {
            $('#themes_datatable').DataTable();
        });
    </script>
{% endblock %}

{% block page_body %}
        <div id="div_maininfo" class="basebox">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div style="float:right;"><H4>
                            <span class="totolo-label label-story"
                                onmouseover='showPreview("storystatsdiv")'
                                onmouseout='hidePreview("storystatsdiv")'
                                onclick='togglePreview("storystatsdiv")'
                            >story</span><div style="position:relative;">
                                <div id="storystatsdiv" class="panel panel-default statsbox">
                                    <div>
                                        <dl id="statslist" class="row small"></dl>
                                    </div>
                                </div>
                            </div>
                        </H4></div>
                        <H4>{{storyobj.sid}}</H4>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal text-left">
                            <dt>Title:</dt> <dd><span id="obj_title">{{storyobj.title}}</span></dd>
                            <dt>Date:</dt> <dd><span id="obj_date">{{storyobj.date}}</span></dd>
                        </dl>
                        <P>
                            <div id="div_description">{{storyobj.description|safe}}</div>
                        </P>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}