{% extends "ontologyexplorer/totolo_base.html" %}

{% block page_subtitle %}{{themeobj.name}}{% endblock %}

{% block page_scripts %}
    <script>
        $(document).ready(function () {
            $('#themes_datatable').DataTable();
        });
    </script>
{% endblock %}

{% block page_body %}
        <div id="div_maininfo" class="basebox">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div style="float:right;"><H4>
                            <span class="totolo-label label-theme"
                                onmouseover='showPreview("themestatsdiv")'
                                onmouseout='hidePreview("themestatsdiv")'
                                onclick='togglePreview("themestatsdiv")'
                            >theme</span><div style="position:relative;">
                                <div id="themestatsdiv" class="panel panel-default statsbox">
                                    <div>
                                        <dl id="statslist" class="row small"></dl>
                                    </div>
                                </div>
                            </div>
                        </H4></div>
                        <H2>{{themeobj.name}}</H2>
                    </div>
                    <div class="panel-body"><div id="div_description">{{themeobj.description|safe}}</div></div>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <H5>List of Parent Themes</H5>
                <div id="div_parents">{{themeobj.parents}}</div>
            </div>
        </div>
{% endblock %}
