# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7)  OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  *  command to be executed
# *  *  *  *  *  command --arg1 --arg2 file1 file2 2>&1

# must be ended with a new line "LF" (Unix) and not "CRLF" (Windows)
14 3  *  *  *  /code/tstp/totolo/run python3 manage.py cache_lto >> /var/log/cache_lto.log 2>&1
45 *  *  *  *  /code/tstp/totolo/run python3 manage.py indexgit >> /var/log/indexgit.log 2>&1
15 *  *  *  *  /code/tstp/totolo/run python3 manage.py index_s3 >> /var/log/index_s3.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
